body {
    background-color: black;
}

.slide1 {
    position: relative;
	background: linear-gradient(
            rgba(0,0,0, 0.7), 
            rgba(0,0,0, 0.7)),
            url("../img/index_background1.png") center center fixed;
    height: 100vh;
    background-size: cover;
}
.slide2 {
    position: relative;
	background: linear-gradient(
            rgba(0,0,0, 0.7), 
            rgba(0,0,0, 0.7)),
            url("../img/index_background2.png") center center fixed;
    height: 100vh;
    background-size: cover;
}
.slide3 {
    position: relative;
	background: linear-gradient(
            rgba(0,0,0, 0.7), 
            rgba(0,0,0, 0.7)),
            url("../img/index_background3.png") center center fixed;
    height: 100vh;
    background-size: cover;
}

#navBar {
    position: absolute;
    top: 0;
	right: 0;
    left: 0;
    font-size: 18px;
    z-index: 999;
}

#mainBody {
    position: absolute;
    top: 100px;
	right: 0;
    left: 0;
    font-size: 18px;
}

.jumbotron {
    background: rgba(255,255,255,1);
}

.w-40 {
    max-width: 40%;
}