.profile-bg {
  background-color: #e7e7e7;
  /* background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('../image/tutorial-bg.jpg'); */
  background-size: cover;
  min-height: 100%;
  min-height: 100vh;
}

@media (max-width: 576px) {
  .profile-bg {
    padding: 120px 5% 10px 5%;
  }
}

@media (min-width: 576px) {
  .profile-bg {
    padding: 120px 10% 10px 10%;
  }
}

.circle-avatar.w-100 {
  width: 100%;
  height: auto;
  padding-top: 100%;
  
  border-radius: 50%;
  
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
  margin: 0px auto;
}

.circle-avatar.w-50 {
  width: 50%;
  height: auto;
  padding-top: 50%;
  
  border-radius: 50%;
  
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
  margin: 0px auto;
}

.circle-avatar.w-25 {
  width: 25%;
  height: auto;
  padding-top: 25%;
  
  border-radius: 50%;
  
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
  margin: 0px auto;
}

.circle-avatar.icon {
  width: 45px;
  height: auto;
  padding-top: 45px;
  
  border-radius: 50%;

  background-position-y: center;
  background-position-x: center;
  background-size: cover;
}

.text-lightgray {
  color: #aaa;
}